* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  background-color: rgba(255, 227, 202, 0.331);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

header .logo {
  display: flex;
  align-self: center;
  font-family: 'Do Hyeon', sans-serif;
  margin-left: 3px;
}

header .logo i {
  align-self: center;
  font-size: 24px;
  margin-right: 8px;
}

header .icons {
  align-self: center;
  margin-right: 2%;
  padding: 4px 12px;
  border: 1px solid rosybrown;
  border-radius: 4px;
  background-color: rgba(255, 227, 227, 0);
}

header .icons:hover {
  background-color: rgba(188, 143, 143, 0.596);
  cursor: pointer;
}

.clock {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0;
  background-color: rosybrown;
}
.clock h1 {
  color: whitesmoke;
  margin: 0;
  font-size: 26px;
  font-family: 'Do Hyeon', sans-serif;
}

.form,
.greeting {
  display: none;
  border-bottom: 1px solid rosybrown;
}

.greeting {
  font-size: 22px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 8px;
}

.showing {
  display: flex;
  justify-content: center;
}

.js-toDoForm {
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.242);
}

input {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
}

.box {
  display: none;
}

.box.active {
  display: block;
  border: 1px solid olive;
  margin: 20px 30%;
}

ul li {
  margin: 4px;
}

ul li span {
  font-size: 20px;
  font-family: 'Nanum Pen Script', cursive;
  
}

ul li button {
  font-size: 16px;
  margin-right: 6px;
  border: none;
  color: rgb(255, 194, 113);
}

ul li button:hover {
  color: rgba(255, 51, 0, 0.708);
  cursor: pointer;
}