* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  background-color: rgba(255, 227, 202, 0.331);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

header .logo {
  display: flex;
  align-self: center;
  font-family: 'Do Hyeon', sans-serif;
  margin-left: 3px;
}

header .logo i {
  align-self: center;
  font-size: 24px;
  margin-right: 8px;
}

header .icons {
  align-self: center;
  margin-right: 2%;
  padding: 4px 12px;
  border: 1px solid rosybrown;
  border-radius: 4px;
  background-color: rgba(255, 227, 227, 0);
}

header .icons:hover {
  background-color: rgba(236, 193, 193, 0.527);
  cursor: pointer;
}

.clock {
  display: flex;
  justify-content: center;
  padding: 12px;
  margin: 0;
  background-color: rosybrown;
}
.clock h1 {
  color: whitesmoke;
  margin: 0;
  font-size: 26px;
  font-family: 'Do Hyeon', sans-serif;
}

.form,
.greeting {
  display: none;
}

.greeting {
  font-size: 22px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 8px;
  border-bottom: 1px solid rosybrown;
}

.showing {
  display: flex;
  justify-content: center;
}

.js-toDoForm {
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.242);
}

input {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  background-color: rgba(227, 254, 253, 0.37);
  border: 1px solid rosybrown;
  border-radius: 4px;
}

.box {
  display: none;
}

.box.active {
  display: flex;
  border: 1px solid olive;
  border-radius: 2px;
  margin: 20px 30%;
}

.toDoTitle {
  align-content: center;
  padding: 12px;
  margin: 0 auto;
  border-radius: 4px;
  color: whitesmoke;
  background-color: rgba(74, 140, 80, 0.397);
  font-family: 'Do Hyeon', sans-serif;
}

ul li {
  margin: 4px;
}

ul li span {
  font-size: 20px;
  font-family: 'Nanum Pen Script', cursive;
  
}

ul li button {
  font-size: 16px;
  margin-right: 6px;
  border: none;
  color: rgb(255, 194, 113);
  background-color: rgba(245, 245, 245, 0);
}

ul li button:hover {
  color: rgba(255, 51, 0, 0.708);
  cursor: pointer;
}

.menu {
  display: none;
  flex-direction: column;
  position: fixed;
  text-align: center;
  left: 50%;
  margin: 8px auto;
  left: 0;
  right: 0;
  bottom: 0px;
}

.menu span {
  padding: 12px;
  margin: 4px 8px;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
  color: whitesmoke;
  background-color: rgba(188, 143, 143, 0.66);
  border-radius: 4px;
  cursor: pointer;

}

.menu span:hover {
  color: rgb(177, 171, 171);
  background-color: rgba(188, 143, 143, 0.29);
}

.menu span.deActive {
  cursor: default;
  color: rgba(245, 245, 245, 0.438);
  background-color: rgba(188, 143, 143, 0.413);
}